{% extends 'base.html.twig' %}

{% block title %}AddressController!{% endblock %}

{% block body %}

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <h1>{{ controller_name }} ✅</h1>

        {% if message == false %}
            <form action="" method="post">
                <label>
                    New mail
                    <input name="userEmail" type="email">
                </label>
                <input type="submit">
            </form>
        {% else %}
            <h1>{{ message }}! </h1>
        {% endif %}

    </div>
{% endblock %}
