{% extends 'base.html.twig' %}

{% block title %}AddressController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #f5f5f5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <h1>{{ controller_name }}! ✅</h1>


            <h2>Użytkownikowi nadano nowy token</h2>

        <a href="{{ path('deleteEmail', {('userToken'): token}) }}" class="button">
            Usuń adres i skasuj sesję
        </a>

    </div>

{% endblock %}
